# IDEs

## Eclipse
.classpath
.project
.settings/

## Intellij
.idea/
*.iml
*.iws

## PyCharm
venv/

# OS

## Mac
.DS_Store

# Code

## Maven
log/
target/

## Java class files
*.class

## Python compilation files
*.pyc

## setup.py install
build/
dist/
librec_auto.egg-info/

## Documentation
librec_auto/docs/build
librec_auto\jar\auto.jar
