# IDEs

## Eclipse
.classpath
.project
.settings/

## Intellij
.idea/
*.iml
*.iws

## PyCharm
venv/

# OS

## Mac
.DS_Store

# Code

## Maven
log/
target/

## Java class files
*.class

## Python compilation files
*.pyc

## setup.py install
build/
dist/
librec_auto.egg-info/

# Librec

## Experiments
result/

## Viz
librec-auto/demo/viz/viz-01\.pdf
librec-auto/demo/viz/viz-02\.pdf
librec-auto/demo/viz/

## Misc
librec-auto/demo/data/split/
