include librec_auto/*
include librec_auto/core/*
include librec_auto/core/cmd/*
include librec_auto/core/cmd/post/*
include librec_auto/core/cmd/rerank/*
include librec_auto/core/util/*
include librec_auto/jar/*.jar
include librec_auto/docs/*
include librec_auto/docs/source/*
include librec_auto/docs/source/images/*
include librec_auto/docs/source/images/extract-params/*
include librec_auto/docs/source/integrations/*
include librec_auto/docs/source/integrations/images/*
include librec_auto/docs/source/integrations/images/dropbox-integration/*
include librec_auto/docs/source/integrations/images/slack-integration/*
include librec_auto/library/*.xml
include librec_auto/rules/*.xml
include librec_auto/test/conf/*.xml